table{
	border: none;
	width: 400px;
	margin: 50px auto;
	border-radius: 10px;
	padding: 0px 20px 20px;
}
#input, #ans{
	height: 50px;
	width: 270px;
	text-align: right;
	font-size: 210%;
	border:none;
}
#input{
	border-radius: 5px 5px 0px 0px;
}
#ans{
	border-radius: 0px 0px 5px 5px;
}
input[type=button]{
	width: 60px;
	height: 60px;
	margin: 1px;
	font-size: 130%;
	border-radius: 8px;
	border: none; 
}
input[type=button]:hover{
	cursor: pointer;
}